* {
    box-sizing:border-box;
}

/*keeping links the same color, even when clicked on for nav bar*/
a {
    color: #8a8a8a;
    display: block;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 80%;
    text-decoration: none;
}

body {
    margin:0;
    padding:0;
}

/* relative positioning in portfolio */
.box {
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 250px;
    height: 200px;
}

/* relative positioning in portfolio */
.box-1 {
    background-image: url("../images/placeimg_640_480_animals (2).jpg");
}

/* relative positioning in portfolio */
.box-2 {
    background-image: url("../images/placeimg_640_480_animals (1).jpg");
}

/* relative positioning in portfolio */
.box-3 {
    background-image: url("../images/placeimg_640_480_animals (3).jpg");
}

/* relative positioning in portfolio */
.box-4 {
    background-image: url("../images/placeimg_640_480_animals.jpg");
}

/* relative positioning in portfolio */

.box-5 {
    background-image: url("../images/placeimg_640_480_nature.jpg");
}

/*the white box around content for all pages*/
.box-set {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 50px auto;
    width:960px;
    position:relative;
}

/* contact page submit button */
.button {
    background-color: #FDB096;
    border:none;
    color:white;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 15px 32px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size:17px;
    margin-top: 15px;
    margin-bottom: 25px;

}

button:hover {
    color:black;

}

/*about, portfolio, contact headers for all pages*/
.content {
    border-collapse: separate;
    border-bottom: 2px solid #dddddd;
    border-spacing:15px 50px;
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin:1em 5%;
    margin-top: 30px;
    padding:5px;
    padding-left:18px;
    padding-bottom: 20px;
    width: 90%;
}

.footer,
.push {
    background-color: #666;
    height:25px;
}

/*the entire contact form layout - outside the boxes */
form {
    border:0px solid lightgrey;
    color: #777777;
    margin:0 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px 0px 10px auto;
    width: 800px;
}

form div + div {
    margin-top: 1em;
}

/*white box around header */
.header {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    height:93px;
    position:relative;
    width:100%;
}

/* navigation bar */
.header-nav {
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    margin-right:17%;
    padding: 0;
}

/* navigation bar */
.header-nav li {
    float: left;
    padding:10px;
    position: relative;
}

/*my name on each page*/
.header-title {
    background-color: #FDB096;
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px;
    line-height:2px;
    margin-left:18%;
    overflow: hidden;
    padding: 1em;
    position: relative;
    text-align: center;
    /* width: 270px; */
}

/* formatting for footer */
html, body {
    height:100%;
    margin:0;
}

/* about me page image with text flow */
img {
    float: left;
    margin: 0px 15px 15px 40px;
    padding: 0px;
}

/* the name and email boxes on contact page */
input, texarea {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing:border-box;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 27px;
    width: 880px;
}

/* contact page elements */
label {
    color: #777777;
    display:inline-block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align:left;
}

/* paragraph on about me section */
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    margin-left: 40px;
    margin-bottom:15px;
}

/* portfolio word boxes */
.projects {
    background-color:#FDB096;
    background-position: center;
    color: #ffffff;
    font-size:17px;
    font-family: 'Georgia', Times, Times New Roman, serif;    
    height:40px;
    line-height:40px;
    position:absolute;
    text-align: center;
    top:155px;
    width:250px;
}

 /* the message box in contact page */
textarea {
    background-color: #ffffff;
    border:1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height:213px;
    vertical-align: top;
    width: 875px;
}

/* formatting for footer */
.wrapper {
    margin-bottom:-50px;
    min-height: 100%;
}


@media screen and (max-width: 980px) {
    .box-set {
        width:100%;
    }
    form {
        width:100%;
    }
    .header {
        background-color: #4aaaa5;
        width:100%;
   } 
   .header-nav {
    width:max-content;
    margin-left:0px;

    }
   .header-title {
    float:left;
    width: 100%;
    margin-left: auto;
    }
    #name {
        width: 60%;
    }
    textarea{
        width:60%;
    }
}

@media screen and (max-width: 768px) {
    .box-set {
        width:100%;
        margin-left:0px;

    }

    form {
        width:100%;
    }
    .header {
        background-color: #4aaaa5;

        width:100%;
        margin-left:0px;
    } 
    .header-nav {
        width:max-content;
        margin-left:0px;

    }
    .header-title {
        float:left;
        width: 100%;
        margin-left: auto;

    }

    #name {
        width: 60%;
    }

    textarea{
        width:60%;
    }
}

@media screen and (max-width: 640px) {
    .box-set {
        width:100%;
    }
    .box {
        margin: 1em 10%;
        width: 80%;
        background-size: cover;

    }
    form {
        width:100%;
    }
    .header {
        background-color: #4aaaa5;
        width:100%;
    } 
    .header-nav {
        width:max-content;
        margin-left:0px;

    }
    .header-title {
        float:left;
        margin-left: auto;
    }
    #name {
        width: 60%;
    }
    .projects {
        width: 100%;
    }
    textarea{
        width:60%;
    }
}
